* { 
    margin: 0; 
    padding: 0; 
}

body {
    background-color: bisque;
}

#header {
    font-size: 48px;
    padding-left: 10px;
}

#main {
    display: flex;
    flex-direction: row;
    background-color: coral;
    justify-content: space-between;
}

#left_block {
    background-color: aqua;
}

    .itemlist {
        border: 3px solid black;
        border-collapse: collapse;
        float: left;
        display: block;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .itemlist th {
        font-size: 24px;
        padding: 5px;
        border-bottom: 3px solid black;
    }

    .itemlist td {
        border-top: 2px solid black;
        text-align: center;
    }

    .item_image {
        padding:2px;
        width:90px;
    }

        .item_image img {
            width:90px;
        }

    .item_body {
        width: 280px;
    }

        .item_title {
            font-size: 24px;
        }

        .item_description {
            font-size: 14px;
        }

    .item_add {
        width: 40px;
    }

    .item_buttons {
        /* background-color:cornflowerblue; */
        padding:3px;
    }

    .item_buttons img:first-child {
        margin-bottom: 5px;
    }

    .item_counter {
        font-size: 24px;
        padding:15px;
        background-color: chartreuse;
    }

#right_block {
    min-width: 410px;
    background-color: brown;
}