* { 
    margin: 0; 
    padding: 0; 
}

body {
    background-color: white;
}

#header {
    font-size: 48px;
    padding: 10px;
    padding-top:0px;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .itemlist {
        border: 3px solid black;
        border-collapse: collapse;
        float: left;
        display: block;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .itemlist th {
        font-size: 24px;
        padding: 5px;
        border-bottom: 3px solid black;
    }

    .itemlist td {
        border-top: 2px solid black;
        text-align: center;
    }

    .item_image {
        padding:2px;
        width:90px;
    }

        .item_image img {
            width:90px;
        }

    .item_body {
        width: 280px;
    }

        .item_title {
            font-size: 22px;
        }

        .item_description {
            font-size: 14px;
        }

    .item_add {
        width: 40px;
    }

    .item_buttons {
        padding:3px;
    }

    .item_buttons img:first-child {
        margin-bottom: 5px;
    }

    .orderlist {
        border: 3px solid black;
        border-collapse: collapse;
        float: left;
        display: block;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .orderlist th {
        font-size: 24px;
        padding: 5px;
        border-bottom:3px solid black;
    }

    .orderlist td {
        font-size: 22px;
    }

    .ordercounter {
        text-align: center;
        padding: 0px 5px;
    }

    .orderimage {
        padding: 0px;
    }

    .orderimage img {
        margin-top:5px;
        margin-right: 5px;
        width:40px;
    }

    .ordertitle {
        width:310px;
    }

    .orderprice {
        width:100px;
        padding-right:5px;
        text-align: right;
    }

    .ordertotal {
        border-top: 2px solid black;
        text-align: right;
        font-weight: normal;
    }

    .ordertotalprice {
        border-top: 2px solid black;
        text-align: right;
        font-weight: normal;
    }

    #reload {
        text-align: center;
        padding:5px;
        border-top: 3px solid black;
    }

    #reload button{
        background-color: rgb(255, 91, 91);
        font-weight: bold;
        font-size: 16px;
        color:rgb(36, 36, 36);
        padding: 8px 16px;
        border: none;
        border-radius: 6px;
    }